@page "/"


@using Blazm.Bluetooth
@using System.Text
@using System.Timers
@inject IBluetoothNavigator navigator

@inject StateContainer StateContainer


<PageTitle>Varia Logger</PageTitle>

<h1>Varia Logger</h1>

<button @onclick="Connect">Connect</button>
<br />
<button @onclick="Disconnect">Disconnect</button>

<h1>Speed: @speed kph</h1>
<h2>Threat: @firstThreatSpeed kph</h2>
<h2>Threat: @firstThreatDistance m</h2>
<h2>Threats: @threats </h2>
@*Threats: @threats 
<br />
Speed: @speed km/h
<br />
Calc speed: @calcSpeed km/h
<br />
Distance: @distance m*@
@*<br />
    @t2
    <br />
    @t3
    <br />
    @t4
    <br />
    @t5*@



@*@for (var i = 0; i < 10; i++)
    {
    @if(Threats[i].active)
    {
    <br />@Threats[i].speed
    }
    }*@




