@page "/"


@using Blazm.Bluetooth
@inject IBluetoothNavigator navigator


<PageTitle>Varia Logger</PageTitle>

<h1>Varia Logger</h1>

<button @onclick="Connect">Connect</button>

Threats: @threats
<br />
@speed km/h
<br />
@distance m
@*<br />
@t2
<br />
@t3
<br />
@t4
<br />
@t5*@


@code {
    int threats = 0;
    double  speed = 0;
    int distance = 0;
    int t0 = 0;
    int t1 = 0;
    int t2 = 0;
    int t3 = 0;
    int t4 = 0;
    int t5 = 0;

    string firmware = "";
    string name = "";
    protected async Task Connect()
    {
        //var serviceid = "device_information";
        var serviceid = "6A4E3200-667B-11E3-949A-0800200C9A66".ToLower();
        var q = new RequestDeviceQuery();
        q.Filters.Add(new Filter() { Services = { serviceid } });
        q.OptionalServices.Add(serviceid);
        var device = await navigator.RequestDeviceAsync(q);

        //var bytes = await navigator.ReadValueAsync(device.Id, serviceid, "firmware_revision_string");
        //firmware = System.Text.UTF8Encoding.UTF8.GetString(bytes);

        //int i = firmware.IndexOf('\0');
        //if (i >= 0)
        //{
        //    firmware = firmware.Substring(0, i);
        //}

        //StateHasChanged();

        var characteristics = "6A4E3203-667B-11E3-949A-0800200C9A66".ToLower();
        await device.SetupNotifyAsync(serviceid, characteristics);
        device.Notification += Value_Notification;
    }

    private void Value_Notification(object sender, CharacteristicEventArgs e)
    {
        var data = e.Value.ToArray();

        byte b0 = 0;
        byte b1 = 0;
        byte b2 = 0;
        byte b3 = 0;

        var l = data.Length;

        System.Console.WriteLine($"Threats: {threats}. b0={b0} b1={b1} b2={b2} b0={b3} b0={b3}");

        if (l >= 4)
        {
            b3 = data[3];
        }
        if (l >= 3)
        {
            b2 = data[2];
        }
        if (l >= 2)
        {
            b1 = data[1];
        }
        if (l >= 0)
        {
            b0 = data[0];
        }


        threats = (l - 1) / 3;


        speed = (int)b1;
        distance = b2;


        
        speed = Math.Round(speed * 3.6 / 10);





        StateHasChanged();
    }
}